.name {
    color: #eb66c3;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(84, 54, 106);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 90px;
    
}

body {
    background-color: rgb(27, 24, 24);
}

h1 {
    color: #eb66c3;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    font-size: 90px;
}

.image {
    border-radius: 50%;
    border-color: aqua;
    /* padding: 30px; */
    padding: 20px;
}

.box {
    background-color: rgb(84, 54, 106);
    /* padding: 40px; */
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 40px;
    border: 90px rgb(0, 0, 0);
    border-radius: 50px;
    height: 110px;
    box-sizing: border-box;
}

.songs {
    background-color: rebeccapurple;
    margin-left: 250px;
    margin-right: 1090px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: 400;
    border-radius: 20px;

}